<h1 class="text-center my-4">My Likes</h1>

<ul class="list-unstyled">
  <% @likes.each do |like| %>
    <li class="text-center mb-4">
      <h2 class="mt-3 mb-2" style="padding-bottom: 5px;"><%= like.movie.title %></h2>
      <div class="d-flex justify-content-center">
        <%= cl_image_tag like.movie.photo.key, height: 300, width: 400, crop: :fill, class: 'img-fluid rounded' %>
      </div>
      <%= link_to "Unlike", like_path(like), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: 'btn btn-warning mt-3'%>
    </li>
    <hr>
  <% end %>
</ul>

<div class="d-flex justify-content-center mt-3">
  <%= link_to "Back", movies_path, class: 'btn btn-primary mb-4' %>
</div>
